h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    left: 5%;
}

h3 {
    color: #35605A;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    text-align: justify;
}