.about.me {
    text-align: left;
}

p {
    font-size: 24px;
    color: #6B818C;
    text-align: left;
    position: relative;
    top: 20%;
}

b {
    color: #31E981;
}

.projects.display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
