.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header.name {
    color: var(--light-gray-color);
    padding-left: 40px;
    padding-top: 5px;
}

.navbar.container {
    background: var(--background-grad);
    margin-left: auto;
    margin-right: 0;
    border-radius: 0 0 0 70px;
    width: fit-content;
    height: 55px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar.menu {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0px 10px;
    padding-left: 20px;
}

.navbar.menu.item {
    color: var(--light-gray-color);
    font-size: 20px;
    font-weight: bold;
}

.navbar.menu.item.link {
    text-decoration: none;
}

.navbar.menu.item.link:hover {
    text-decoration: none;
    transition: all 0.5s ease;
    color: var(--green-accent-color);
}