#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home.intro {
  font-size: 180px;
  font-family: 'jsMath-cmmi10', sans-serif;
  font-style: italic;
  color: #31E981;
  margin-top: 0;
}